@model LearningPortal.Models.SectionMedia
@{
    ViewBag.Title = "StudentCourseVideo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="mdk-drawer-layout__content page ">

    <div class="container-fluid page__container">
        <ol class="breadcrumb">

            
            <li class="breadcrumb-item"><a href="@Url.Action("ViewAllSubCategory", "Home", new{id=@Html.DisplayFor(model=>model.Section.Courses.SubCategories.CategoryId)})">@Html.DisplayFor(model => model.Section.Courses.SubCategories.Categories.CategoryName)</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("ViewAllCourse", "Home", new{id=@Html.DisplayFor(model=>model.Section.Courses.SubCategories.SubCategoryId)})">@Html.DisplayFor(model => model.Section.Courses.SubCategories.SubCategoryName)</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("StudentCourse", "Home", new{id=@Html.DisplayFor(model=>model.Section.Courses.CourseId)})">@Html.DisplayFor(model => model.Section.Courses.CourseName)</a></li>
            <li class="breadcrumb-item active">@Html.DisplayFor(model => model.VideoTitle)</li>
        </ol>
        <h1 class="h2">@Html.DisplayFor(model => model.Section.SectionName)</h1>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe id="player" class="embed-responsive-item"
                                src="@Html.DisplayFor(model => model.VideoUrl)?start=@ViewBag.StartTime&&enablejsapi=1"
                                allowfullscreen=""></iframe>
                    </div>
                    @Html.HiddenFor(model => model.SectionMediaId)
                </div>

                <div class="sidebar">

                    <div class="card">
                        <ul class="list-group list-group-fit">
                            <li class="list-group-item">
                                <div class="media align-items-center">
                                    <div class="media-left">
                                        <i class="material-icons text-muted-light">assessment</i>
                                    </div>
                                    <div class="media-body">
                                        @Html.DisplayFor(model => model.Section.Courses.Levels)
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media align-items-center">
                                    <div class="media-left">
                                        <i class="material-icons text-muted-light">schedule</i>
                                    </div>
                                    <div class="media-body">
                                         <div id="totalDuration">hrs</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4">
                 <p>


                    @Html.Hidden("currenttime")


                </p>


            </div>
        </div>
    </div>

</div>



   

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="~/assets/js/duration.js"></script>

