<div id='cssmenu'>

    <ul>
        <li>
            <a href='#' class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
            <ul>

                @{
                    foreach (LearningPortal.Models.Categories item in Session["Menu"] as List<LearningPortal.Models.Categories>)
                    {
                        <li>
                            <a href='#'>@item.CategoryName <i class="fa fa-caret-right"></i> </a>
                            @{
                                ((LearningPortal.Controllers.StudentController)this.ViewContext.Controller).get_Submenu(Convert.ToInt32(item.CategoryId));
                            }
                            <ul>
                                @{
                                    foreach (LearningPortal.Models.SubCategories subitem in Session["submenu"] as List<LearningPortal.Models.SubCategories>)
                                    {
                                        <li>
                                            <a href="@Url.Action("Contact", "Home")">@subitem.SubCategoryName <i class="fa fa-caret-right"></i></a>
                                            @{
                                                ((LearningPortal.Controllers.StudentController)this.ViewContext.Controller).get_Subtosubmenu(Convert.ToInt32(subitem.SubCategoryId));
                                            }
                                            <ul>
                                                @{
                                                    foreach (LearningPortal.Models.Courses subtosubitem in Session["subtosubmenu"] as List<LearningPortal.Models.Courses>)
                                                    {

                                                        <li>
                                                            <a href="@Url.Action("StudentCourse", "Student", new {id=subtosubitem.CourseId})">@subtosubitem.CourseName</a>

                                                        </li>

                                                    } }
                                            </ul>
                                        </li>
                                    } }
                            </ul>
                        </li>
                    } }
            </ul>

        </li>
    </ul>


</div>


@*<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
                <ul class="dropdown-menu">

                    <li><a class="dropdown-item" href="#">Another submenu action</a></li>


                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                        <ul class="dropdown-menu">

                            <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                            <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                        </ul>
                    </li>



                </ul>
            </li>
        </ul>
    </li>*@


