
@{
    ViewBag.Title = "CourseEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mdk-drawer-layout__content page mr-3 ml-2" >
    <div id="videoModalWrapper">

    </div>
    <div class="row">
        <div class="col-md-8">
            
            <div class="card-header">
                <h4 class="card-title">Course Outline</h4>
            </div>
            <div class="card" id="coureditsectionList">

                <input type="hidden" vaule="@ViewBag.Placeholder" id="rootfoldername"/>

                @{
                    @Html.Action("CourseOutline", "Admin")

                }





            </div>

            <!--Teg Manager-->






            <div class="TagManager">

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Tags Manager</h4>
                    </div>
                    <div class="card-body">

                        <input type="text" class="form-control" id="searchText" name="iTag" placeholder="Tags">

                        <button class="btn btn-primary btntag" type="button" id="tagadd"><i class="material-icons">add</i>Tags</button>

                    </div>

                    <div id="CTagManager">

                        <div class="col-md-12">
                            @foreach (var item in (List<String>)ViewBag.Span)
                            {
                                <button class="badge rounded-pill bg-primary  tagremove" style="color: white; width: auto;height: 20%;">@item  </button>

                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">

            <!-- Image Upload And Preview Start-->
            <div class="card">
                <div class="card-body text-center">
                    <div class="d-flex justify-content-center" style="height:200px">
                        <input type="hidden" value="@ViewBag.SplitImage" id="coursep" />
                        @if (ViewBag.ImageUrl != null)
                        {
                            <img alt="Uploaded Image" src="~/assets/images/@ViewBag.ImageUrl" />
                        }
                        else
                        {
                            <input type="hidden" value="@ViewBag.ImageUrl" id="coursepic1" />
                            <img src="~/assets/images/default.png" id="coursepic">
                        }
                    </div>
                            <div class="page-separator">
                                <div class="page-separator__text"></div>
                            </div>
                            <div class="media-body">
                                <div class="custom-file"
                                     >


                                    <form method="Post" class="courseimageupload">


                                        <input type="file" name="files" id="uplod" accept=".jpg,.png" required />

                                        <button class="btn btn-primary" type="submit" id="upbtn"><i class="material-icons">add</i>Add Logo</button>
                                    </form>
                                    
                                </div>


                            </div>
                        </div>
            </div>
            <!-- Image Upload And Preview End-->
            <!-- Add Course Title and Logo Start -->
            <div class="card">
                <div class="card-body">


                  
                            
                   @Html.Action("AddDesc", "Admin") 
 
                </div>
            </div>
            <!-- Add Course Title and Logo End -->
            <!--DropDowns start-->
            
            <div class="card">
                <div class="m-3">
                   
                    <input type="text" class="yearpicker form-control mb-3" value="" id="courseYear" placeholder=" Add Course Year" required style="" />
                    <select id="courseLevel"
                            class="custom-select form-control mb-3" required>
                        <option value="">Add Course Level</option>
                        <option value="Easy">Easy</option>
                        <option value="Medium">Medium</option>
                        <option value="Hard">Hard</option>
                    </select>
                    @Html.Action("DDCatSub", "Admin")
                </div> 
                @*<div class="card mx-3 border-0 my-0">
                    @Html.Action("DDCatSub", "Admin")
                </div>*@
             </div>
                <!--DropDowns End-->
                <!--What I`ll You Learn start-->
                <div class="card">

                    @Html.Action("WWYLearn", "Admin")

                </div>
                <!--What I`ll You Learn End-->
                <!--Assignment Quiz Links start-->
                <div class="card">

                    <div class="card-header align-items-center">
                        <i class="material-icons text-muted ml-2">lightbulb </i><a href="#"> Take Quiz</a>
                    </div>
                    <div class="card-header align-items-center">
                        <i class="material-icons text-muted ml-2">assignment</i><a href="#">  Get Assignment</a>
                    </div>
                    <div class="card-header align-items-center">
                        <i class="material-icons text-muted ml-2">school</i><a href="#">  Get Certificate</a>
                    </div>
                </div>
                <!--Assignment Quiz Links start-->
                <!--Last Submit Button Start-->
                <div>
                    <button type="button" class="btn btn-primary">
                        Cancel <span class="badge bg-secondary">4</span>
                    </button>
                    <button type="button" class="btn btn-primary" id="courseInsert">
                        ok <span class="badge bg-secondary"> <i class="large material-icons">check</i></span>
                    </button>
                </div>
                <!--Last Submit Button End-->

            </div>
    </div>
</div>



<script>


    $(document).ready(function () {


    $(".yearpicker").yearpicker({
        year: 2019,
        startYear: 2019,
        endYear: 2050,
    });

    });
    function showModal() {

        $.ajax({
            type: "Get",
            url: "/Admin/VideoModal",


            success: function (data) {

                $(function () {
                    $('#videoModal').modal();
                });
              $('#videoModalWrapper').html(data);
            }
        });
    }
    function GETTAG(tag) {

        $.ajax({
            url: "/Admin/TagManager",
            type: 'GET',
            data: {
                iTag: tag
            },

            success: function (data) {
                console.log(data);
                $('#CTagManager').empty();
                $('#CTagManager').append(data);

                //$(".v").remove();
            }
        });
    }

    function getoutline() {

        $.ajax({
            url: "/Admin/CourseOutline",
            type: 'GET',


            success: function (data) {
                //console.log(data);
                $('#coureditsectionList').empty();
                $('#coureditsectionList').append(data);
                var rootTitle = $("#rootTitle").val();
                $("#CourseTitle").val(rootTitle);

                //$(".v").remove();
            }
        });
    }

    // Tag Add 
    $("#tagadd").click(function () {

        var tag = $("#searchText").val();
        if (tag) {

            GETTAG(tag);
            $("#searchText").val("");
        }
    });
    //console.log("coursepic" + coursepic);
        //console.log("CourseName" + CourseName);
        //console.log("CourseDesc" + CourseDesc);
        //console.log("courseYear" + courseYear);
        //console.log("categoryId" + categoryId);
        //console.log("subcategoryId" + subcategoryId);
        //console.log("courseLevel" + courseLevel);

    //Tag Remove
    $("#CTagManager").on("click", ".tagremove", function () {
        var tag = this.innerText;


        $.ajax({
            type: "GET",
            url: "/Admin/TagRemover",
            data: {
                value: tag
            },

            success: function (data) {
                GETTAG("removessws101");
            }
        });


    });

   


   
    // Zip Upload
    $(".zipupload").on("submit", function (event) {

        event.preventDefault();
        var formData = new FormData($(this)[0]);
        //var formValues = $(this).serialize();
        // console.log(formValues);
        //var fileUpload = $(this).children().val();
        //var files = fileUpload.files;

        //var fileData = new FormData();

        /// fileData.append(files[0].name, files[0]);.
        $('#upbtn').prop('disabled', true);
       
        $.ajax({
            url: '/Admin/CourseUploader',
            type: "POST",
            contentType: false,
            processData: false,
            data: formData,
            success: function (result) {

                var imageurl = result;


                if (imageurl == "File Uploaded") {
                 
                    alert(imageurl);
                 
                    getoutline();


                    
                } else {
                    alert(result);
                  

                }


            },
            error: function (err) {
                alert(err.statusText);
            }
        });




    });



    // Course Image upload
    $(".courseimageupload").on("submit", function (event) {
       
        event.preventDefault();
        var formData = new FormData($(this)[0]);
        //var formValues = $(this).serialize();
       // console.log(formValues);
        //var fileUpload = $(this).children().val();
        //var files = fileUpload.files;

        //var fileData = new FormData();

       /// fileData.append(files[0].name, files[0]);

     
        $.ajax({
            url: '/Admin/CourseFileUploader',
            type: "POST",
            contentType: false,
            processData: false,
            data: formData,
            success: function (result) {

                var imageurl = result;
              

                if (imageurl == "Invalid Image Size") {
                    alert(result);
                } else {
                    
                  
                    $("#coursepic").attr("src", result);

                }
              
             
            },
            error: function (err) {
                alert(err.statusText);
            }
        });
    });

    // File Added
    var c = 22;
    $('#coureditsectionList').on('click', '#btnfileAdd', function () {



        $('#imgupload').trigger('click');
        //var file = $('#imgupload')[0].files[0];

        var sectionname = $(this).children().attr('class');
        c = sectionname;
    });

    $('#coureditsectionList').on('change', '#imgupload', function () {




            var sectionname = c;
           
       // var rootfolder = $("#rootfoldername").val();
            //var SubDirTitle = $(this).parent().children().last().attr('class');
            //var sectionname = $(this).parent().parent().parent().children().children().val();
      
      
       // var fileUpload = $("#imgupload");
       // var files = fileUpload.files;
//
        //var fileData = new FormData();

       // fileData.append(files[0].name, files[0]);
        //fileData.append("sectionname", sectionname);
      

        var form_data = new FormData();
      
        form_data.append('sectionname', sectionname);
        form_data.append("rootfolder", "edit");
        var totalfiles = document.getElementById('imgupload').files.length;
        for (var index = 0; index < totalfiles; index++) {
            form_data.append("files[]", document.getElementById('imgupload').files[index]);
        }
        

        $.ajax({
            url: '/Admin/Uploads',
            type: "POST",
            contentType: false,
            processData: false,
            data: form_data,
            success: function (result) {


               
                alert(result);
                    getoutline();
              
            },
            error: function (err) {
                alert(err.statusText);
            }
        });


        //getsectionvideo(fileData);
       


    });




    // Edit Section Name
    $("#coureditsectionList").on('click', ".EditSubDir", function () {

        var newname = $(this).parent().parent().children().children().val();
        var oldname = $(this).parent().parent().children().children().attr("id");
        

        //if (SubDirTitle == SubDirTitleh) {
        //    SubDirTitleh = SubDirTitle
        //}
      
        $.ajax({
            type: "Post",
            url: "/Admin/EditSubName",
            data: {
                newname: newname,
                oldname: oldname,
                editfile: null,
                check:"edit"
            },

            success: function (data) {
                alert("Successfully Edit SectionName");
                getoutline();
            }
        });
       
    });

    // Edit File Name
    $("#coureditsectionList").on('click', ".EditFile", function () {

        var SectionName = $(this).parent().attr('class');
        const myArray = SectionName.split("%");
        SectionName = myArray[myArray.length - 1];


        var Newname = $(this).parent().parent().children().children().children().val();
        var Oldname = $(this).parent().parent().children().children().children().attr("id");

       
      
        //if (SubDirTitle == SubDirTitleh) {
        //    SubDirTitleh = SubDirTitle
        //}
   
        $.ajax({
            type: "Post",
            url: "/Admin/EditSubName",
            data: {
                newname: Newname,
                oldname: Oldname,
                editfile: SectionName,
                check: "edit"
            },

            success: function (data) {
                alert(data);
                getoutline();
            }
        });
      
    });




     // Delete Single File

    $("#coureditsectionList").on('click', ".DeleteFile", function () {
        var SubDirTitle = $(this).parent().parent().attr('id');

        var FileName = $(this).parent().parent().children().children().children().attr('id');


        $.ajax({
            type: "Post",
            url: "/Admin/DeleteDir",
            data: {
                DirName: SubDirTitle,
                Filename: FileName,
                check: "edit"
            },

            success: function (data) {
                alert("Successfully Delete File");
                getoutline();
            }
        });
    });

    // Delete Folder


    $("#coureditsectionList").on('click', ".DelDir", function () {
        var SubDirTitle = $(this).parent().siblings().children('.heading').val();



        $.ajax({
            type: "Post",
            url: "/Admin/DeleteDir",
            data: {
                DirName: SubDirTitle,
                Filename: null,
                check: "edit"
            },

            success: function (data) {
                alert("Successfully Delete Folder");
                getoutline();
            }
        });
    });



    // Dropdown working
   $("#coureditsectionList").on('click', ".display-toggle", function () {
        $(this).nextAll(".ascaq").eq(0).slideToggle("slow");
        if ($(this).children().text() === "arrow_drop_up") {
            $(this).children().text("arrow_drop_down");
        }
        else
            $(this).children().text("arrow_drop_up");

        });

  

    // Add Section
    $('#coureditsectionList').on('click', '#AddSecBtn', function () {
      

        /*$('#co').children().parent().prepend("<h1>fasd</h1>");*/
        $('#apnd_div').prepend(' <hr />' +

            '<div class="nestable-content">' +
            '<div class="media-body" id="Nested_Card">' +

            '<div class="media align-items-center">' +
            '<div class="media-body" id="Nested_Card">' +
            ' <form id="myForm" method="post" enctype="multipart/form-data">' +
            '<input type="text" id="FolderName" class="form-control t" placeholder="Write File Name"/>' +

            '</div>' +


            '<div class="media-right">' +
            //'<label class="btn btn-white btn-sm m-0 btn-sm">' +
            //'<input type="file"   class="d-none" id="createFolder"/>' +
            //'<i class="material-icons">file_upload</i>' +
            //'</label>' +

            //'<a href="#" class="btn btn-white">' +
            //'<i class="material-icons">edit</i>' +
            //'</a>' +
            '<button class="btn btn-white btn-sm createFolder" id="createFolder" >' +
            '<i class="material-icons">add</i>' +
            '</button>' +

            //'<a href="#" class="btn btn-white btn-sm">' +
            //'<i class="material-icons">delete</i>' +
            //'</a>' +

            '</div>' +
            '</form>' +
            '</div>' +

            '</div>' +
            '</div>' +
            '<hr />');


      
    });
    //Create Folder
    $("#coureditsectionList").on('click', ".createFolder",function () {
        //var FN = $('#FolderName').val();
        var FN = $(this).parent().parent().children().children().children().val();
      
        $.ajax({
            type: "Post",
            url: "/Admin/CreateSection",
            data: {
                SectionName: FN,
                check:"edit"
            },
            success: function (response) {
                console.log(response);
                alert(response);
                getoutline();

            },
        });
    });


   
    $("#courseInsert").click(function () {

        var sectionnamedata = $("#coureditsectionList").children("ul").children("li").children(".nestable-content").children(".media-body").children(".media").children(".media-body").children(".heading").map(function () {
           return $(this).attr("id");


        }).get();


        var sectionfiledata = [];
        var sectionfileduration = [];


        for (var c in sectionnamedata) {


           var sc = "." + sectionnamedata[c].replace(/\s/g, "") + "sws";
           var sectionfiledata1 = $(sc).children("li").children(".nestable").children(".nestable-list").children(".nestable-item").children(".nestable-content").children(".media").children(".media-body").children(".card-title").children(".w-50").map(function () {

             return $(this).attr("id");


         }).get();

        sectionfiledata.push(sectionfiledata1);
       }


        for (var c in sectionnamedata) {


            var sc = "." + sectionnamedata[c].replace(/\s/g, "") + "sws";
            var sectionfileduration1 = $(sc).children("li").children(".nestable").children(".nestable-list").children(".nestable-item").children(".nestable-content").children(".media").children(".media-body").children(".card-title").children(".ddd").children().map(function () {

                return $(this).text();


            }).get();

            sectionfileduration.push(sectionfileduration1);
        }

        //console.log(sectionnamedata);
        //console.log(sectionfiledata);
        //console.log(sectionfileduration);


        var CourseName = $("#CourseTitle").val();
        var CourseDesc = $("#CourseDescription").val();
        var courseYear = $("#courseYear").val();
        var categoryId = $("#CategoryId").val();
        var subcategoryId = $("#SubCategoryId").val();
        var courseLevel = $("#courseLevel").val();
        var coursepic = $("#coursepic").attr("src");
       // alert($("#coursep").val());


        if (CourseName != "" && CourseDesc != "" && courseYear != "" && categoryId != "" && subcategoryId != "" && courseLevel != "" && coursepic != "") {

            $.ajax({
                url: '/Admin/InsertCourse',

                data: {
                    CourseName: CourseName,
                    CourseDesc: CourseDesc,
                    courseYear: courseYear,
                    categoryId: categoryId,
                    subcategoryId: subcategoryId,
                    courseLevel: courseLevel,
                    coursepic: coursepic,
                    sectionnamedata: JSON.stringify(sectionnamedata),
                    sectionfiledata: JSON.stringify(sectionfiledata),
                    sectionfileduration: JSON.stringify(sectionfileduration)
               

                },
                success: function (result) {
                    alert("Successfully Add Course");
                   

                    window.location.href = '/Admin/AddCourse';

                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        }
        else {
            alert("Please fill All Values");
            console.log("ïn here");


        }


    });


</script>


