
@{
    ViewBag.Title = "CourseEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#AddSecBtn').on('click', function () {

            var newListItem = document.createElement('li');
            newListItem.className += "nestable-item nestable-item-handle";
            //div.setAttribute('data - id', '2');

            var div = document.createElement('div');
            div.className += "nestable-content";
            div.setAttribute('id', 'Nested_Card');

            var div2 = document.createElement('div');
            div2.className += "card-title h6 mb-0";
            div2.setAttribute('id', "Nested_Card");
            $(document.getElementById("First_ul")).append(newListItem);
            $('li').append(div);
            $('div').append(div2);
            console.log("+btn")
        });
    });
</script>








<div class="row">
    <div class="col-md-8">

        <div class="card-header">
            <h4 class="card-title">Course Outline</h4>
        </div>
        <div class="card" id="coureditsectionList">

            @if (ViewBag.PData.Count == 0)
            {
                @Html.Action("CourseUploader", "Admin")

            }


            <ul class="nestable-list">
                <li class="nestable-item nestable-item-handle"
                    data-id="2">

                    @{foreach (var h in ViewBag.QData)
                        {



                            <!--Headings-->
                            <hr />
                            <div class="nestable-content">
                                <div class="media-body" id="Nested_Card">

                                    <div class="media align-items-center">
                                        <div class="media-body" id="Nested_Card">
                                            <h5 class="card-title h6 mb-0">
                                                <a href="#">@Path.GetFileName(h)</a>
                                            </h5>
                                        </div>

                                        <!--Buttons-->
                                        <div class="media-right">
                                            <a href="#"
                                               class="btn btn-white btn-sm">
                                                <i class="material-icons">visibility</i>
                                            </a>
                                            <a href="#"
                                               class="btn btn-white btn-sm">
                                                <i class="material-icons">edit</i>
                                            </a>
                                            <a href="#"
                                               class="btn btn-white btn-sm">
                                                <i class="material-icons">delete</i>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <hr />
                            <!--SubList-->
                            <ul>
                                <li>
                                    @foreach (var val in ViewBag.PData)
                                    {
                                        <div class="nestable" id="nestable-handles-primary">
                                            @if (h == Path.GetDirectoryName(val))
                                            {
                                                <ul class="nestable-list">
                                                    <li class="nestable-item nestable-item-handle"
                                                        data-id="2">
                                                        <div class="nestable-handle"><i class="material-icons">menu</i></div>
                                                        <div class="nestable-content">
                                                            <div class="media align-items-center">

                                                                <div class="media-body" id="Nested_Card">
                                                                    <h5 class="card-title h6 mb-0">
                                                                        <a href="#">@val</a>

                                                                    </h5>

                                                                </div>

                                                                <div class="media-right">
                                                                    <a href="#"
                                                                       class="btn btn-white btn-sm">
                                                                        <i class="material-icons">visibility</i>
                                                                    </a>
                                                                    <a href="#"
                                                                       class="btn btn-white btn-sm">
                                                                        <i class="material-icons">edit</i>
                                                                    </a>
                                                                    <a href="#"
                                                                       class="btn btn-white btn-sm">
                                                                        <i class="material-icons">delete</i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            }
                                        </div>
                                    }
                                </li>
                            </ul>
                        }
                    }

                    @{ if (ViewBag.PData.Count > 0)
                        {
                            <div>

                                <button class="btn btn-primary" type="submit" id="AddSecBtn"><i class="material-icons">control_point</i>Upload Course</button>
                            </div>
                        }
                    }
                </li>
            </ul>


        </div>

        <!--Teg Manager-->

        <div class="card">


            @Html.Action("TagManager", "Admin")


        </div>






        <!-- Lessons -->

    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <div class="media align-items-center">


                    @if (ViewBag.ImageUrl != null)
                    {
                        <img alt="Uploaded Image" src="@ViewBag.ImageUrl" />
                    }
                    else
                    {
                        <div class="media-left">
                            <img src="~/assets/images/vuejs.png"
                                 alt=""
                                 width="100%"
                                 class="rounded">
                        </div>
                    }




                </div>
                <div class="page-separator">
                    <div class="page-separator__text"></div>
                </div>
                <div class="media-body">
                    <div class="custom-file"
                         style="width: auto;">

                        @Html.Action("CourseUploader", "Admin")
                    </div>


                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">

                <div class="form-group">
                    <label class="form-label"
                           for="title">Title</label>
                    <input type="text"
                           id="title"
                           class="form-control"
                           placeholder="Write a title"
                           value="Basics of Vue.js">
                </div>

                <div class="form-group mb-0">
                    <div class="form-group">
                        <label for="form-label">Description</label>

                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write a title"></textarea>
                    </div>
                </div>

            </div>
        </div>
        <div class="card">
            <select id="course_title"
                    class="custom-select form-control">
                <option value="#">HTML</option>
                <option value="#">Angular JS</option>
                <option value="#"
                        selected>
                    Vue.js
                </option>
                <option value="#">CSS / LESS</option>
                <option value="#">Design / Concept</option>
            </select>
        </div>
        <div class="card">
            <select id="course_title"
                    class="custom-select form-control">
                <option value="#">HTML</option>
                <option value="#">Angular JS</option>
                <option value="#"
                        selected>
                    Vue.js
                </option>
                <option value="#">CSS / LESS</option>
                <option value="#">Design / Concept</option>
            </select>
        </div>
        <div class="card">
            <select id="course_title"
                    class="custom-select form-control">
                <option value="#">HTML</option>
                <option value="#">Angular JS</option>
                <option value="#"
                        selected>
                    Vue.js
                </option>
                <option value="#">CSS / LESS</option>
                <option value="#">Design / Concept</option>
            </select>
        </div>
        <div class="card">

            <div class="card-body">
                <div class="card-header">
                    <h4 class="card-title">Description</h4>
                </div>
                <div class="form-group mb-0">
                    <div class="form-group">


                        <textarea class="form-control" id="exampleFormControlTextarea1" cols="50" placeholder="Write a title"></textarea>
                    </div>
                </div>

            </div>

        </div>
        <div class="card">

            <div class="card-header align-items-center">
                <i class="material-icons text-muted ml-2">lightbulb </i><a href="#"> Take Quiz</a>
            </div>
            <div class="card-header align-items-center">
                <i class="material-icons text-muted ml-2">assignment</i><a href="#">  Get Assignment</a>
            </div>
            <div class="card-header align-items-center">
                <i class="material-icons text-muted ml-2">school</i><a href="#">  Get Certificate</a>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary">
                Cancel <span class="badge bg-secondary">4</span>
            </button>
            <button type="button" class="btn btn-primary">
                ok <span class="badge bg-secondary"> <i class="large material-icons">check</i></span>
            </button>
        </div>
    </div>
</div>




