<div class="modal fade" id="editModal">
    <div class="modal-dialog" style=" margin-top: 13%;margin-left: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">SubCategory Details</h4>
                <button type="button" class="close ml-2" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <input type="hidden" name="name" id="SubcatId" value="@ViewBag.subCatId" />
                <input type="hidden" name="name" id="catId" value="@ViewBag.catId" />

                <div class="form-group row">
                    <label for="title" class="col-md-4 col-form-label form-label">SubCategory Name</label>
                    <div class="col-md-6">
                        <input id="SubcatName" type="text" class="form-control" value="@ViewBag.subname" name="SubCatname" required placeholder="SubCategory Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="title" class="col-md-4 col-form-label form-label">SubCategory Image</label>
                    <div class="col-md-6 verflow-hidden">
                        <input type="file" id="SubcatImage" name="@ViewBag.Image" value="@ViewBag.SubImage" class="addimg"/>
                        <p class='text-muted'>Image size must be 256x256 and File type is png | jpg | jpeg</p>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-default canclebutton" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary ml-2 editSubCat" type="submit" data-dismiss="modal"><i class="material-icons"></i>Save</button>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
        $(document).ready(function () {
            $(".addimg").on('change', function () {
                var imgext = $(this).val().toString().replace(/^.*\./, "").toLowerCase();
                var imgwidth = $(this).width();
                var imgheight = $(this).height();
                console.log(imgext, typeof (imgwidth), imgheight)

                if (imgwidth === 256 && imgheight === 256 && imgext == "png" || imgext == "jpg" || imgext == "jpeg") {
                    $(".editSubCat").prop('disabled', false);
                    $(this).siblings().addClass("text-muted");
                    $(this).siblings().removeClass("text-danger");
                }
                else {
                    $(this).siblings().removeClass("text-muted");
                    $(this).siblings().addClass("text-danger");
                    $(".editSubCat").prop('disabled', true);
                }





            });
            $(".editSubCat").click(function () {
                var formData = new FormData();
                var file = document.getElementById("SubcatImage").files[0];
                formData.append("SubcatImage", file);

                var SubName = $('#SubcatName').val()
                formData.append("SubcatName", SubName);

                var Subcid = $('#SubcatId').val()
               

                var Cid = $('#catId').val()

                formData.append("SubcatId", Subcid);
                formData.append("CId", Cid);

                    $.ajax({
                    type: "POST",
                        url: "/Admin/EditSubCat",
                    data: formData,
                    processData: false,
                    contentType: false,
                        success: function (response) {
                           
                            $("#row_" + Subcid).load(" #row_" + Subcid +" > *");
                        }
                    });

                });
            })
</script>

