

@model IEnumerable<LearningPortal.Models.SubCategories>



<div class="container p-0">
    <div class="modal fade" id="myModalAddSubCat" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Add SubCategory Details</h4>
                    <button type="button" class="close ml-2" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @*<p>Are you sure you want to delete this!</p>*@
                    @{
                        using (Html.BeginForm("AddSubCategory", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                        {
                            <input type="hidden" name="subid" value="@ViewBag.CAtId" />
                            <div class="form-group row">
                                <label for="title" class="col-md-4 col-form-label form-label">SubCategory Name</label>
                                <div class="col-md-6">
                                    <input id="title" type="text" class="form-control" name="SubCatname" required placeholder="SubCategory Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="title" class="col-md-4 col-form-label form-label">SubCategory Image</label>
                                <div class="col-md-6">
                                    <input type="file" name="files" required />
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-default canclebutton" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary ml-2" type="submit" id="upbtn"><i class="material-icons"></i>Okay</button>

                            </div>
                         }
                   }

                            </div>
                            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default canclebutton" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger addCat" data-dismiss="modal">Okay</button>
                </div>*@
                        </div>
        </div>
    </div>
    <a class="btn btn-secondary mr-1" href="#" data-toggle="modal" data-target="#myModalAddSubCat">Add SubCategory</a>
</div>



@{
    if (ViewBag.count == 0)
    {
        <div class="media align-items-center mb-headings">
            <div class="media-body">
                <div class="flex"></div>
                <h1 class="h2" style="text-align:center">No SubCategory Available</h1>
            </div>
        </div>
    }
    else
    {

        <div class="card-columns row">
            @foreach (var item in Model)
            {
                int count = 0;
                <div class="carousel-item col-sm-6 col-md-4 col-lg-3 active" id="row_@item.SubCategoryId">
                    @{
                        string que = helpper.Encrypt("" + ViewBag.CAtId, true);
                        que = que.Replace('%', 'a');
                        que = que.Replace('+', '!');

                        string que1 = helpper.Encrypt("" + item.SubCategoryId, true);
                        que1 = que1.Replace('%', 'a');
                        que1 = que1.Replace('+', '!');

                     }


                    <div class="card w-100">
                        @*onclick="viewCourses(@item.SubCategoryId,@ViewBag.CAtId)"   href="@Url.Action("Admin","AddCourse")" *@
                        <a href="@Url.Action("AddCourse","Admin",new {cid=que.Replace('/', '$'), scid=que1.Replace('/', '$')})">
                            <input type="hidden" name="subcid" value="@ViewBag.CAtId" />

                            <img src="~/assets/images/categories/@item.Image"
                                 alt="Card image cap"
                                 style="width:100%;">

                            <div class="card-header text-center">
                                <h5 class="card-title m-0" style="text-align:center; font-size:13px;">@item.SubCategoryName</h5>
                                <div windows.onload="countCourses(@item.SubCategoryId)">
                                    <div class="mt-3"></div>
                                    <small class="text-muted">
                                        Total Courses: @{foreach (var item1 in ViewBag.CourseCount)
                                            {
                                                if (item1.SubCategoryId == item.SubCategoryId && item1.IsActive == true)
                                                {

                                                    count = count + 1;
                                                }

                                            }
                                            @count
                                        }
                                    </small>
                                    @*<small class="text-muted"> @item.UploadedDate.Day/@item.UploadedDate.Month/@item.UploadedDate.Year</small>*@
                                </div>
                            </div>
                        </a>
                        <div class="card-body px-0">

                            <div style="display: flex; justify-content: center;">

                                <div class="d-flex justify-content-around w-75">

                                    <button class="btn btn-white w-25" onclick="editSubCat(@item.SubCategoryId)"><i class="material-icons">create</i></button>

                                    <button class="btn btn-white w-25" onclick="deleteSubCat(@item.SubCategoryId)"><i class="material-icons">delete</i></button>



                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
       

    }
}

<script type='text/javascript'>
    function deleteSubCat(SubCategoryId) {

        $.ajax({
            type: "post",
            url: "/Admin/DeleteSubCategory",
            data: {
                Subcatid: SubCategoryId
            },

            success: function (data) {
                $(function () {
                    $('#deleteModal').modal();
                });

                $('#modalWrapperDelete').html(data);


            }
        });
    }



    function editSubCat(SubCategoryId) {

        $.ajax({
            type: "Get",
            url: "/Admin/EditSubCat",
            data: {
                Subcatid: SubCategoryId
            },

            success: function (data) {

                $(function () {
                    $('#editModal').modal();
                });
                $('#modalWrapperEdit').html(data);
            }
        });
    }

    function viewCourses(SubCategoryid, Categoryid) {
        
        var cid = Categoryid;
        var scid = SubCategoryid;
       

        alert("categoryId " + cid + "subcatid " + scid);
        $("#simple").empty();
        $.ajax({
           type: "Get",
            url: "/Admin/Addcourse",
            
            success: function (data) {

                console.log(data);
                $("#simple").append(data);
                

            }
        });
   
    }
    //function coursefilter(cid, scid) {
    //    alert(ci, " ", scid);


    //    var ci = cid;
    //    var scid = scid;
    //    $.ajax({
    //        type: "get",
    //        url: "/Admin/CourseFilter",
    //        data: {
    //            catid: ci,
                
    //        },

    //        success: function (data) {
                

    //        }
    //    });

    //}

    


</script>